{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chat_server.name }} | BlueStacks ChatBot</title>
    <link rel="icon" href="{% get_static_prefix %}images/favicon.png">

    <link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
{#    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>#}
    <link rel='stylesheet' href='{% get_static_prefix %}libs/font-awesome-4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='{% get_static_prefix %}css/chatroom.css'>


    <style>
        .myavatar{
            padding: 5px;
            height: 55px;
            border: solid 2px #5dba69;
            border-radius: 9999px;
            background-color: white;
        }

        .search_history {
            font-size: 14px;
            padding: 5px 10px;
            font-weight: inherit;
            margin: 0px 10px 10px 0px;
        }

        .alink{
            color: white !important;
        }
        .alink:hover{
            color: white !important;
            text-decoration: underline;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <script>
        window.console = window.console || function(t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>
<body translate="no" ng-app="ChatApp" ng-controller="MainCtrl" ng-cloak onbeforeunload="return onbeforeunload_page()">

    <a href="{% url 'home' %}" class="btn btn-info btn-lg" style="position: fixed; top: 20px; left: 20px;">
        <i class="fa fa-arrow-left"></i>
    </a>

    <div class="chat_container clearfix">
        <div class="chat" style="width: 100% !important; border-radius: 5px !important;">
            <div class="chat-header clearfix">
                <img src="{% get_static_prefix %}images/chatbot_icon.png"  class="myavatar" alt="avatar" />
                <div class="chat-about">
                    <div class="chat-with">Server: {{ chat_server.name }}</div>
                    <div class="chat-num-messages">Chat with <span style="font-weight: bold;">{{ bot.NAME }}</span> - BlueStacks ChatBot</div>
                </div>
                <i class="fa fa-star"></i>
            </div>
            <div class="chat-history">
                <ul>
                    <li ng-class="{'clearfix': msg.source=='user'}" ng-repeat="msg in list_messages" ng-include="'tmpl_message'"></li>
                </ul>

                <div ng-if="ui_flags.postmessage" >
                    <img ng-if="ui_flags.postmessage=='loading'" src="{% get_static_prefix %}images/loaders/loader_typing.gif" style="height: 10px;">
                    <div ng-if="ui_flags.postmessage=='error'" class="alert alert-danger" style="color: red;">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Error sending message! Try again.
                    </div>
                </div>

            </div>
            <div class="chat-message clearfix">
                <input type="text" ng-model="message_to_send"  placeholder="Type your message" ng-keypress="onpress_message($event)" />
                <button type="button" ng-click="onclick_send()">Send</button>
            </div>
        </div>
    </div>

    <!-- ----- Templates ----- -->
    <script type="text/ng-template" id="tmpl_message">
        <div class="message-data" ng-class="{'align-right': msg.source=='user'}">
            <span class="message-data-time" >{$ ::msg.datetime|date:'hh:mm a' $}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name" >{$ ::msg.user.name $}</span> <i class="fa fa-circle" ng-class="{'me': msg.source=='user', 'online':  msg.source=='response'}"></i>
        </div>
        <div class="message" ng-class="{'other-message float-right': msg.source=='user', 'my-message':  msg.source=='response'}" ng-switch="msg.type">
            <div ng-switch-when="text">{$ ::msg.data $}</div>
            <div ng-switch-when="google_search">
                <div ng-if="!msg.data.length">No results found in google for '{$ ::msg.query $}'!</div>
                <div ng-if="msg.data.length">
                    Top google results for '{$ ::msg.query $}':<br/>
                    <ul style="margin-left: 20px;">
                        <li ng-repeat="row in msg.data">
                            <a ng-href="{$ ::row.url $}" class="alink" target="_blank">{$ ::row.url $}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-switch-when="search_history">
                <div ng-if="!msg.data.length">No search history found for '{$ ::msg.query $}'!</div>
                <div ng-if="msg.data.length">
                    Search history for '{$ ::msg.query $}':<br/>
                    <span class="badge badge-pill badge-light search_history" ng-repeat="hist in msg.data">{$ hist.search_text $}</span>
                </div>
            </div>

        </div>
    </script>
    <!-- ----- /Templates ----- -->

    <script src='{% get_static_prefix %}libs/jquery/jquery-3.4.1.min.js'></script>
    <script src='{% get_static_prefix %}libs/momentjs/moment.js'></script>

    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular.min.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular-cookies.js"></script>

    <script>
        function onbeforeunload_page(){
            return "";
        }
    </script>
    <script>
        var APP = angular.module('ChatApp', [
            'ngCookies',
        ])
        .config(function($interpolateProvider, $httpProvider){
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');

            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
        })
        .run(function($rootScope, $http, $cookies) {
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;

            $http.defaults.xsrfCookieName = 'csrftoken';
            $http.defaults.xsrfHeaderName = 'X-CSRFToken';
        });

        APP.controller('MainCtrl', function($scope, $http, $timeout){
            $scope.ui_flags = {
                postmessage: null
            };
            $scope.message_to_send = "";
            $scope.list_messages = [

            ];

            function _scrollChatToBottom(){
                $timeout(function(){
                    var $chatHistory = $('.chat-history');
                    $chatHistory.scrollTop($chatHistory[0].scrollHeight);
                }, 100);

            }

            function sendMessage(){
                var message = $scope.message_to_send;

                // Validate
                if(message == "" || message == null){
                    return;
                }

                $scope.list_messages.push({
                    "id": moment().toDate().getTime(),
                    "user":{
                        "username": "{{ request.user.username }}",
                        "name": "{{ request.user.first_name }} {{ request.user.last_name }}"
                    },
                    "type": "text",
                    "source": "user",
                    "data": message,
                    "datetime": moment().utc().format("YYYY-MM-DDTHH:mm:ssZ")
                });
                $scope.message_to_send = "";
                _scrollChatToBottom();

                // Post
                $scope.ui_flags.postmessage = "loading";
                $http({
                    method: 'POST',
                    url: '{% url 'core__post_message' %}',
                    data: $.param({
                        "server_id": {{ chat_server.id }},
                        "message": message
                    })
                }).then(
                    function(response){
                        var data = response.data;

                        var _responseData = data["reply"];
                        _responseData["source"] = "response";

                        $scope.list_messages.push(_responseData);
                        _scrollChatToBottom();

                        $scope.ui_flags.postmessage = null;
                    },
                    function(responseError){
                        $scope.ui_flags.postmessage = "error";
                    }
                );
            }

            // Events
            $scope.onpress_message = function(keyEvent){
                if (keyEvent.which === 13){
                    sendMessage();
                }
            };

            $scope.onclick_send = function(){
                sendMessage();
            };

        })

    </script>


</body>
</html>