{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Home | BlueStacks ChatBot</title>

    <style>
        .card_server{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div ng-app="HomeApp" ng-controller="MainCtrl" ng-cloak>

        <!-- ----- Templates ----- -->
        <script type="text/ng-template" id="tmpl_modal_addServer">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Add new Chat Server</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <form name="form_addNewServer" novalidate>
                    <div class="form-group">
                        <label for="fld_servername">Chat server name:</label>
                        <input type="text" ng-model="data.name" id="fld_servername" class="form-control" pattern="^[a-zA-Z0-9]+[a-zA-Z0-9\-\_]*" required>
                        <small class="form-text text-muted">
                            This should be a unique name consisting of letters, numbers, underscores or hyphens only.
                        </small>
                    </div>

                    <div ng-if="errors" class="alert alert-danger" style="font-size: small; line-height: 1.1;">
                        <p style="margin-bottom: 10px;">Error creating server:</p>
                        <ul style="margin-left: 10px;margin-bottom: 0px;">
                            <li ng-repeat="err in errors.name">{$ err $}</li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="float-left text-danger" ng-if="ui_flags.create=='error'">
                    <i class="fa fa-exclamation-triangle"></i> Something went wrong!
                </div>

                <div ng-show="ui_flags.create!='loading'">
                    <button class="btn btn-secondary" type="button" ng-click="close()">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-click="create_server(form_addNewServer)" ng-disabled="form_addNewServer.$invalid">Create</button>
                </div>
                <div ng-if="ui_flags.create=='loading'">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    &nbsp;<span style="font-size: 20px;">Creating Server...</span>
                </div>
            </div>
        </script>
        <!-- ----- /Templates ----- -->

        <h1>
            Chat Servers
            <button type="button" class="btn btn-primary float-right" ng-click="open_addNewServer()">
                <i class="fa fa-plus"></i> Add New
            </button>
        </h1>
        <hr/>
        <p class="lead">
            Select a chat server to get started. Use 'Add New' button to create a new chat server.
        </p>

        <div>
            <div ng-if="list_servers.length==0" class="alert alert-primary" align="center">
                <i class="fa fa-info-circle" style="font-size: 60px;"></i>
                <div style="margin-top: 10px;">
                    No chat servers found! Click on 'Add New' button to create a new chat server.
                </div>
            </div>
            <div ng-if="list_servers.length" >
                <input type="text" ng-model="text_search" class="form-control" placeholder="Search server...">
                <div style="margin-top: 20px;" class="row">
                    <div class="col-3" ng-repeat="server in list_servers|filter:text_search">
                        <a href="/chat/chatroom/{$ server.name $}/" class="btn btn-light btn-lg btn-block"  style="text-align: left; line-height: 1.1">
                            {$ server.name $}
                            <br><span class="text-muted" style="font-size: 12px;">{$ server.created_on|date:'d-MMM-yyyy hh:mm a' $}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{#        <div>{$ list_servers $}</div>#}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular.min.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular-cookies.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/angular-ui/ui-bootstrap-tpls-3.0.6.min.js"></script>

    <script>
        var APP = angular.module('HomeApp', [
            'ngCookies',
            'ui.bootstrap',
        ])
        .config(function($interpolateProvider, $httpProvider){
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');

            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
        })
        .run(function($rootScope, $http, $cookies) {
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;

            $http.defaults.xsrfCookieName = 'csrftoken';
            $http.defaults.xsrfHeaderName = 'X-CSRFToken';
        });

        APP.controller('MainCtrl', function($scope, $uibModal){
            $scope.list_servers = [{% for server in list_servers %}{"id":{{server.id}},"name":"{{server.name}}","created_on":"{{server.created_on|date:"Y-m-d"}}T{{server.created_on|date:"H:i:s"}}Z" }{% if not forloop.last %},{% endif %}{% endfor %}];

            $scope.open_addNewServer = function(){

                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'tmpl_modal_addServer',
                    backdrop : 'static',
                    size: 'lg',
                    controller: function($scope, $uibModalInstance, $http, $window){
                        $scope.ui_flags = {
                            create: null
                        };
                        $scope.errors = null;

                        $scope.data = {};


                        $scope.create_server = function(formobj){
                            if(formobj.$invalid){
                                return null;
                            }

                            // Post
                            $scope.ui_flags.create = "loading";
                            $scope.errors = null;
                            $http({
                                method: 'POST',
                                url: '{% url 'core__chatserver_create' %}',
                                data: $.param($scope.data)
                            }).then(
                                function(response){
                                    var responseData = response.data;

                                    if(responseData.status == 'success'){
                                        $window.location.reload()
                                    }else{
                                        $scope.ui_flags.create = null;
                                        $scope.errors = responseData.errors;
                                    }

                                },
                                function(responseError){
                                    $scope.ui_flags.create = "error";
                                }
                            );

                        };

                        $scope.close = function(){
                            $uibModalInstance.dismiss('cancel');
                        };
                    }
                });


                modalInstance.result.then(
                    function (successResult) {
                        alert(successResult)
                    },
                    function () { }
                );

            };

        });
    </script>
{% endblock %}